<!DOCTYPE html>
<head>
<style>
    /* css */

    *{
        padding:0;
        margin:0;
    }

    .wrap{
        width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
    }

    .box{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
 
    }

    p{
        padding-bottom: 10px;
    }

    .sessState{
        padding-top:10px;
    }

    /* -------- */


</style>
</head>

<body>
    <% include ./navbar.ejs %>
<div class="wrap">
    <div class="box">

        <p><%= book[0].book_number %>번 도서</p>
        <p>책 이름 : <%= book[0].book_name %></p>
        <p>수량 : <%= book[0].book_count %></p>
        <p>책 가격 :₩ <%= book[0].book_price %></p>
    </div>

    <div class="sessState">
        <% if(sess != null) { %>
            <form action = "/user/addItem/<%= book[0].book_number %>" method="post">

            <button type = "button" onclick="location.href='#'">구매</button>
            <input type = "number" name="count" value = "1">

            <input type = "hidden" name = "book_number" value = <%= book[0].book_number %> />

            <input type = "hidden" name = "book_price" value = <%= book[0].book_price %> />


            <button type = "button" onclick = "location.href='/user/addItem/<%= book[0].book_number %>'"></button>
            <button type = "submit" >담기</button>
            </form>
        <%} %>
    </div>
</div>


</body>

</html>