<!-- myPage -->

<!--css-->
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <style>
    * {
        padding: 0;
        margin: 0;
    }
    .wrap {
        width: 100vw;
        height: 700vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f8f9fa;
    }

    .container1 {
        width:100%;
        border-radius: 8px;

        text-align: center;
    }

    .container-wrap{
        display: flex;
        width: 80%;
        box-shadow: rgb(0 0 0 / 15%) 0px 8px 16px 0px;
        padding-top: 5px;
        margin-top: 10%;
        flex-direction: row;
        background-color: white;
    }

    .thead{
        height: 52px;
        border-bottom: 1px solid #000000;
        font-size: 16px;
        vertical-align: middle;
    }

</style>
</head>

<!---------------------------->

<% include ./navbar.ejs %>

<div class="wrap">


<div class="container-wrap">

        <table class = "container1">

        <thead>

        <tr>
            <th scope="col" class="thead">신용카드 번호</th>
            <th scope="col" class="thead">신용카드 종류</th>
            <th scope="col" class="thead">신용카드 유효기간</th>
            <th><a class = "btn btn-light" href = "/user/addCard">신용카드추가</a></th>

        </tr>

        </thead>

        <% for(var i =0; i< card.length; i++) { %>
        <tbody>
        <tr>
            <th scope="row" class="cardId"><%= card[i].card_num %></th>
            <td class="cardDate"><%= card[i].card_type %></td>
            <td class="cardKind"><%= card[i].card_date %></td>
            <td>
                <div class = "btn">
                    <form action = "/user/card/update/<%= card[i].card_id %>" method="post">
                        <input type = "hidden" name = "pid" value = "<%=card[i].card_id %>" />
                        <button type="submit" class="btn btn-light">수정</button>
                    </form>
                    <a href = "/user/cardDel/<%= card[0].card_id %>" method = "post">
                    <button type="submit" class="btn btn-light">삭제</button>
                    </a>
                </div>

            </td>
        </tr>

        <% } %>
        </tbody>

        </table>
</div>

    <div class="container-wrap">

    <table class = "container1">

        <thead>

        <tr>
            <th scope="col" class="thead">배송지 우편번호</th>
            <th scope="col" class="thead">배송지 기본주소</th>
            <th scope="col" class="thead">배송지 상세주소</th>
            <th><a class = "btn btn-light" href = "/user/addParcel">배송지추가</a></th>
        </tr>

        </thead>

                    <% for(var i = 0; i< address.length; i++) { %>
        <tbody>
        <tr>
            <th scope="row" class="cardId"><%= address[i].address_postnum %></th>
            <td class="cardDate"><%= address[i].address_basicaddress %></td>
            <td class="cardKind"><%= address[i].address_datailaddress %></td>
            <td>
                    <form action = "/user/address/update/<%= address[i].address_id %>" method="post">
                        <input type = "hidden" name = "pid" value = "<%=address[i].address_id%>" />
                        <button type="submit" class="btn btn-light">수정</button>
                    </form>
                <a href = "/user/parcelDel/<%= address[i].address_id %>" method = "post">
                    <button type="submit" class="btn btn-light">삭제</button>
                </a>

            </td>
        </tr>
        <% } %>

        </tbody>

    </table>
    </div>

</div>
</div>
